@model IEnumerable<Курсач.Models.Containers>


<div class="all-container">
    <div class="app-container">
        @foreach (var item in Model)
        {
            <div class="flex-item">
                <div>ID: @item.ID</div>
                <div>Тип: @item.container</div>
                <div>Зібрано  @item.currentProgres <br /><br />Залишилося зібрати:@item.endProgres - @item.currentProgres </div>
            </div>
        }
    </div>
</div>

<style>
    .all-container {
        margin-top: 120px;
        display: flex;
        flex-wrap: wrap;
    }

    .flex-item {
        justify-content: center;
        display: flex;
        flex: 0 0 calc(33% - 10px);
        margin: 5px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    .flex-item a{
        text-decoration:none;
        color:red;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight:600;
        padding:20px;
        border:1px solid red;
        border-radius:10px;
    }
</style>