@model IEnumerable<Курсач.Models.Containers>


<div class="all-container">
    <div class="app-container">
        @foreach (var item in Model)
        {
            <div class="flex-item">
                <div>ID: @item.ID</div>
                <div>Тип: @item.container</div>
                <div>Зібрано  @item.currentProgres <br /><br />Залишилося зібрати:@item.endProgres - @item.currentProgres </div>
            </div>
        }
    </div>
</div>

<style>
    .all-container {
        margin-top: 120px;
        display: flex;
        flex-wrap: wrap;
    }

    .flex-item {
        flex: 0 0 calc(25% - 10px);
        margin: 5px;
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>