@model Курсач.Models.NonActiveContainers

@{
    ViewData["Title"] = "Create";
}
<div class="app-container">
    <div class="top-container">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <select asp-for="Title" asp-items="@ViewBag.Categories" class="form-control">
                            <option value="">Оберіть категорію</option>
                        </select>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PersonId" class="control-label"></label>
                        <input asp-for="PersonId" class="form-control" />
                        <span asp-validation-for="PersonId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataStart" class="control-label"></label>
                        <input asp-for="DataStart" class="form-control" />
                        <span asp-validation-for="DataStart" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataEnd" class="control-label"></label>
                        <input asp-for="DataEnd" class="form-control" />
                        <span asp-validation-for="DataEnd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="currentProgres" class="control-label"></label>
                        <input asp-for="currentProgres" class="form-control" />
                        <span asp-validation-for="currentProgres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="endProgres" class="control-label"></label>
                        <input asp-for="endProgres" class="form-control" />
                        <span asp-validation-for="endProgres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataAdd" class="control-label"></label>
                        <input asp-for="DataAdd" class="form-control" />
                        <span asp-validation-for="DataAdd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
