@model Курсач.Models.NonActiveContainers

@{
    ViewData["Title"] = "Create";
}
<div class="app-container">
    <div class="top-container">
           <div class="card">
            <div class="card-body">
                <h5 class="card-title">Створити новий запис</h5>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <select asp-for="Title" asp-items="@ViewBag.Categories" class="form-control">
                            <option value="">Оберіть категорію</option>
                        </select>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PersonId" class="control-label"></label>
                        <input asp-for="PersonId" class="form-control" />
                        <span asp-validation-for="PersonId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataStart" class="control-label"></label>
                        <input asp-for="DataStart" class="form-control" />
                        <span asp-validation-for="DataStart" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataEnd" class="control-label"></label>
                        <input asp-for="DataEnd" class="form-control" />
                        <span asp-validation-for="DataEnd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="currentProgres" class="control-label"></label>
                        <input asp-for="currentProgres" class="form-control" />
                        <span asp-validation-for="currentProgres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="endProgres" class="control-label"></label>
                        <input asp-for="endProgres" class="form-control" />
                        <span asp-validation-for="endProgres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Запропонувати даний збір" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
 

    .form-group {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .text-danger {
        color: #dc3545;
    }

   

</style>