@model IEnumerable<Курсач.Models.News>

@{
    ViewData["Title"] = "IndexNews";
}

<div class="app-container">
    <div class="row mt-2">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@item.mainImg" class="card-img-top" alt="News Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Add</p>
                        <a style="margin:20px auto; width:100%" href="@Url.Action("Details", "News", new { id = item.ID })" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
